Practicle9/student.dtd

<!ELEMENT student (firstName,lastName,id,plan)>
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT lastName (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT plan (courses)>
<!ELEMENT courses (course+)>
<!ATTLIST courses year CDATA #REQUIRED>
<!ELEMENT course (name,shortName,record?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT shortName (#PCDATA)>
<!ELEMENT record (marks, grade)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT grade (#PCDATA)>



